        body {
            font-family: Arial, sans-serif;
            background-color: #eaeef1;
        }
        form {
            max-width: 900px;
            margin: auto;
        }
        fieldset {
            margin-top: 30%;
            margin-left: auto;
            align-items: center;
            border: 3px solid #000000;
            padding: 40px;
            border-radius: 5px;
            background-color:#eaeef1;
        }
        label {
            display: block;
            margin-bottom: 10px;
            font-size: medium;
        }
        input[type="text"],
        input[type="email"]{
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            margin-right: 10px;
            border: 2px solid #ccc;
            border-radius: 10px;
        }
        select {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 2px solid #ccc;
            border-radius: 5px;
        }
        input[type="radio"] {
            margin-right: 10px;
        }
        button {
            margin-top: 10px;
            background-color: #589feb;
            color: #fff;
            border: blue;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
        button.cancel {
            background-color: #a19a9a;
        }
        button:hover {
            background-color: #0056b3;
        }
        legend{
            font-size: larger;            
        }
 